* {
    margin: 0;
    padding: 0;
}

.browse-container {
    padding: 1em;
    display: flex;
    flex-direction: column;
    width: 90vw;
    vertical-align: center;

}

.header-banner {
    height: 40vh;
    background-color: aqua;
    border-radius: 0.5em;
    overflow: hidden;
    background: url(../../assets//sample.JPG);
    object-fit: cover;
    
}

.products-grid {
    margin-top: 6em;  

}



.grid-title {
    text-align: center;

}

.galleryContainer {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%;
    padding: 0 12px;

}

.galleryItem img {
    -webkit-transition: all 350ms ease-in-out;
    transition: all 350ms ease-in-out;
    cursor: pointer;
    border-radius: .7em;
    
}

@media (max-width:991px) {
    .galleryContainer {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
    
}

@media (max-width:480px) {
    .galleryContainer {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
    
}




