* {
    margin: 0;
    padding: 0;
}

.browse-container {
    padding: 1em;
    display: flex;
    flex-direction: column;
    width: 90vw;
    vertical-align: center;   

}

.header-banner {
    height: 40vh;
    background-color: aqua;
    border-radius: 0.5em;
    overflow: hidden;
    
}



