.order-container {
    align-content: center;
    align-self: center;
    width: 85%;
    text-align: center;
    border: 2px solid red;
    padding: 3em;
}

/* Default Slides Classname */
.slick-slide {
    display:flex;
    flex-direction: column;
    gap: 1em;
    border: 2px solid blue;
    overflow: hidden;
    padding: 1em;
    margin: 0 0.5em;

}

.client-order:hover {
    filter: grayscale();
}

.order-details {
    width: 20em;

}

.client-logo {
    height: 1em;
    width: 1em;
    object-fit: cover;
    border-radius: 2em;
}

.order-desc {
    font-size: .3em;

}

.section-desc {
    width: 65%;


}