.hero-container {
    /* height: 200vh; */
    padding: 2px;
    overflow: hidden;    

}

.hero-banner {
    overflow: hidden;
}

.hero-banner img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    transition: 200ms;
}

.banner-wrapper {
    overflow: hidden;
    
}

/* .banner-wrapper>img:hover {
    transition: 200ms;
    filter: saturate(1.3);

} */


.product-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 85vw;
    overflow: hidden;
    justify-content: center;
    gap: 5px;
    
}

.product-card {
    max-height: max-content;
    width: 20em;
    border-radius: 0.5rem;
    background: rgb(237, 237, 237);
    padding: 1em;
}

.product-card>img {
    aspect-ratio: 1/1;
    background-image: url(../../assets/sample.JPG);
    border-radius: 1em;
}

.product-card .item-name {
    font-weight: 800;
    font-size: 1.2em;
}

.product-card .product-description {
    line-height: 1.5;
}

.product-card .charges {
    background: rgb(184, 184, 184);
    width: 10em;
    text-align: center;
    font-weight: 900;
}

.product-card>img {
    object-fit: cover;
}

::-webkit-scrollbar {
    display: none;

}

