.hero-container {
    width: 100vw;
    height: max-content;
    padding: 2px;
    overflow: hidden;


}

.hero-banner {
    overflow: hidden;
}

.hero-banner img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    transition: 200ms;
}

.banner-wrapper {
    overflow: hidden;
    

}

/* .banner-wrapper>img:hover {
    transition: 200ms;
    filter: saturate(1.3);

} */


.product-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;
    
}

.product-item {
    border: 2px solid orange;
    max-height: max-content;
    width: 20em;
}

.product-item>img {
    background-image: url("https://images.creativemarket.com/0.1.0/ps/9506928/1920/1318/m1/fpnw/wm0/web-banner-design-templates-bundle-cover-.jpg?1606809617&s=da1a89bcbd1a83ff7ed4352635f23f7b");
    object-fit: cover;
}

