.card-container {
    width:16em;
    height: 20em;
    border-radius: 0.5em;
    
}

.card-top {
    display: flex;
    overflow: hidden;
    height: 70%;
    
}

.card-bestSeller {
    background-color: #20d42c;
    position: absolute;
    margin: 0.5em;
    padding: 0.4em;
    border: 1px solid #10a21a;
    color: #0a6410;
    border-radius: 0.3em;
    font-size:x-small

}

.card-top img {
    object-fit:cover;
    width: 100%;
    border-radius: 0 0.5em 0 0.5em;
    
}

.card-bottom {
    border: 2px solid rgb(236, 236, 236);
    background: #fefefe;
    position: relative;
    margin-top: -1em;
    border-radius: 0.8em;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}

.card-bottom .card-productID {
    color: rgb(255, 255, 255);
    font-size: small;
    margin-top: -1.5em;
    text-align: right;
    background: orange;
    border-radius: 0.3em;
    padding: 0.3em;
    width: fit-content;
    
}

.card-details, .card-ratings, .card-date {
    display: flex;
    font-size: small;
    margin-top: 0.1em;
    font-weight: 300;
    gap:0.4em;
}

.card-details {
    gap: 1em;

}

.card-ratings :nth-child(1) {
    color: rgb(255, 179, 0);
}

 hr {
    margin-top: 0.5em;
    opacity: 0.4;
 }

 .card-description p {
    margin-top: 0.2em;
    font-size: small;
    line-height: 1;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
    gap: 0.3em;

 }

 .card-footer {
    display: flex;
    align-items: center;
    
 }

 .card-footer span:nth-child(2) {
    display: flex;
    align-items: center;
    border: 1px solid darkgray;
    padding: 0.4em 0.7em;
    border-radius: 0.3em;
    place-content: center;
    margin:0  0 0 2.5em ;

 }

 .card-footer span:nth-child(1) p {
    color:dimgrey;
    font-size: x-small;

 }

 .card-footer input {
    background: transparent;
    border: none;
 }

 .card-footer .orderButton:hover {
    color: #fefefe;
    background-color: #0a8b11;
    cursor: pointer;
    transition: all 0.3s ease-in-out;


 }

 
 




