/* Roboto Font */
@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,900;1,400;1,600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary:#3ecf8e;
    --primary-dark:#37996b; 
    --primary-darker:#137f5a;
    --text:#f9f9f9;
    --background:#1c1c1c;
    --secondary:#2e2e2e;
    --gray-border:#3e3e3e;
    --gray-border-hover:#505050;
    --gray-menu-button:#7e7e7e;
    --gray-menu-button-hover:#232323;
    --navbar-height:64px;
    --gray-text-hover:#8f8f8f;
    --gray-icon:#a0a0a0;

    --body-font:'Roboto', sans-serif;

}

/* Base Style */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 2rem 0 0 0;
    font-family: var(--body-font);
    font-size: 3rem;
    background-color: #8f8f8f;
    color: #1c1c1c;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}


/* Reusable CSS*/
.section {
    padding: 4.5rem 0 2rem;

}

.section__title {
    font-size: medium;
    color:var(--primary-dark);
    text-align: center;
    margin-bottom: 1.5rem;
}

.section__height {
    height: 100vh;
}

.section__height {
    height: 100vh;
}

/* Layout CSS */

.container {
    max-width: 968px;
    margin-left: 1rem;
    margin-right: 1rem;
}

/* Header CSS */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: beige;
    z-index: 1;
    transition:.4s;
}

.nav {
    height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__img {
    width: 32px;
    border-radius: 50%;
}

.nav__logo {
    color: #1c1c1c;
    font-weight: 600;
}

@media screen and (max-width:767px) {
    .nav__menu {
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: gray;
        box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
        width: 100%;
        height: 4rem;
        padding: 0 1rem;
        align-content: center;
        border-radius: 1.25rem 1.25rem 0 0;
        transition: .4s;
    }

    .nav__list, .nav__link {
        display: flex; 

    }

    .nav_link {
        flex-direction: column;
        align-items: center;
        row-gap: .25rem;
        color: #1c1c1c;
        font-weight: 600;
    }

    .nav__list {
        justify-content: space-around;
    }

    .nav__name {
        font-size: small;
    }

    .nav__icon {
        font-size: 1.5rem;
    }
    
}