.gallery-container {
    align-self: center;
    text-align: center;
    height: 100vh;
    padding: 5em;
    background: #f8f8f8;

}

.section-desc {
    margin: 1.5em 20em;
    font-weight: 150;
}

.images-container {
    display: flex;
    align-self: center;
    
}

.img-container {
    

}

.image-box img {
    width: 10em;
    border: 2px solid red;

}

.image-desc span {
    font-size: small;        


}
