/* Hero page Wrapper */
.hero-container {
    background: linear-gradient(180deg, rgba(255,255,255,0) 30em, rgba(238,238,238,1) 40em, rgba(255,255,255,1) 45%, rgba(215,215,215,1) 60%, rgba(255,238,220,1) 77%, rgba(255,255,255,1) 100%), url("https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/313dd5189796845.65b0db44c2cea.jpg");
    background-repeat: no-repeat;
    background-size: 100vw;
    /* background-position-y:-10em; */
}

/* Hero Image Container */
.hero-banner {
    overflow: hidden;
    
}

/* Product Search Bar  */
.search-bar {
    width: 80vw;
    margin: 1em;
    height: 2em;
    border-radius: .5em;
    background-color: white;
    padding: 1em;
}

/* Hero Image Properties */
.hero-banner img {
    height: 20rem;
    object-fit: cover;
    transition: 200ms;

}

/* Hero Image Container Wrapper */
.banner-wrapper {
    overflow: hidden;
    
}

/* Container with all product cards */
.product-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5em;
    justify-content: center;
    margin-top: 80vh;
    overflow: hidden;
    padding: 0.5em;
    
}

.product-container {
    list-style-type: none;    
    
}

/* Cards for each listed product */
.product-card {
    height: max-content;
    width: 18em;
    border-radius: 0.5rem;
    background: rgb(237, 237, 237);
    place-content: center;
    overflow: hidden;
    padding: 0.6rem;
    border: 0.5px solid rgba(128, 128, 128, 0.485);
    transition: ease-in-out 100ms;

}

/* Product Card hover effects */
.product-card:hover {
    transform: translate(1px 1px);
    transition:ease-in-out 100ms;
    margin: 0 0.5em;
    border: none;
    box-shadow:
    inset 0 -3em 3em rgba(177, 177, 177, 0.3),
    0 0 0 0.5px gray,
    0.3em 0.3em 1em rgba(115, 115, 115, 0.6);

    .product-charge {
        background-color: orange;
        color: white;
        transition: ease-in-out 100ms;
    }

}

/* Product Item Name & Item Charge in the card */
.product-title-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: -2.2em;

}

.product-charge, .card-footer, .item-name {
    padding: 0.5em 0;
    overflow: hidden;
    transition: ease-in-out 250ms;
}

/* Product Image properties */
.product-img {
    aspect-ratio: 1/0.6;
    background-image: url("https://mir-s3-cdn-cf.behance.net/projects/404/1acf6e140736935.Y3JvcCwzMTcwLDI0ODAsMTY0LDA.jpg");
    border-radius: 0.7em;
    object-fit: cover;
}

/* Product Name Text properties */
.product-card .item-name {
    font-weight: 800;
    font-size: 1.2em;

}

.date {
    font-weight: 200;
    font-size:small;
    border: 2px solid red;

}

/* Product Clickable link */
.product-link-wrapper {
    text-decoration: none;
    color: var(--text);
}

/* Product Description Text properties */
.product-card .product-description {
    line-height: 1.2;
    font-size: 13px;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    padding-bottom: 0.6em;

}

/* Product Charges Text properties */
.product-card .product-charge {
    text-align: right;
    font-weight: 500;
    
    
}

.product-card .product-charge::before{
    content: "Kes.";
}

/* Product Footer Wrapper properties */
.card-footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    border: 2px solid red;
}

/* Product charge Text properties */
.product-container .product-charge {
    background-color: rgb(187, 187, 187);
    width: max-content;
    padding: 0rem 0.7rem;
    display: flex;
    border-radius: 0.4rem;
    color: rgb(0, 0, 0,0.8);
    scale: 0.7;
    padding: 0.4em;

}

/* Product Format Types Wrapper properties */
.format {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 0.4em;
    align-content: center;
    justify-items: center;
    border: 2px solid rgb(0, 255, 26);
    
}

/* Product Card Format Types Text Properties */
.product-card .format-type {
    background-color: rgba(132, 255, 132, 0.66);
    color: rgb(12, 100, 12);
    border: 2px solid rgb(8, 0, 255);
    list-style-type: none;
    font-size: small;
    padding: 0 0.5em;
    border-radius: 10em;
}

button {
    display: none;
}