.order-container {
    align-self: center;
    width: 90%;
    text-align: center;
    margin-top: 3em;
}

.order-container b {
    color: orange;

    h1 {
        font-weight: 200;
    }
}

/* Default Slides Classname */
.slick-slide {
    display:flex;
    flex-direction: column;
    gap: 1em;
    border-radius: 0.5em;
    overflow: hidden;
    padding: 1em;
    margin: 0 0.3em;
    border: 2px solid #f0f0f0;
    box-shadow: 2px -10px 69px -29px rgba(0,0,0,0.1) inset;
    -webkit-box-shadow: 2px -10px 69px -29px rgba(0,0,0,0.1) inset;
    -moz-box-shadow: 2px -10px 69px -29px rgba(0,0,0,0.1) inset;

}

.slick-slide:hover {
    transform: scale(.97);  
    background: #f0f0f079;
    transition: ease-in-out 200ms;

}

.slick-slide .order-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px; 
    border-bottom: 1px solid rgb(228, 228, 228);

}

.slick-slide h1 {
    margin-top: 1.2em;
    font-weight: 500;
    font-size: medium;
    line-height: 0.5;
    text-transform: uppercase;

}

.slick-slide .client-designation {
    color: grey;
    line-height: 1;
    font-weight: 300;
    font-size: small;
    margin-bottom: 0.8em;

}

.slick-slide .client-logo {
    height: 6em;
    width: 6em;
    object-fit: cover;
    border-radius: 6em;
    border: 3px solid orange;
    
}

/* Defaults Containers */
.slick-slide .order-details {
    margin: 0.8em 0.4em ;

}

.slick-slide .client-desc {
    font-size: 14px;
    font-weight:300;
    margin: 0 0 0.4em 0;
}

.slick-slide .order-date {

}

.section-desc {
    margin: 1.5em 20em;
    font-weight: 150;


}