:root {
    --primary-background:#272727;
    --rounded-corner:15px;
    --secondary-background: rgb(30, 42, 42);
    --text-color:white;
    --transition-duration:300ms;
    --uniform-padding:12px;
    --theme-color-orange: rgb(255, 123, 0);
    --hover-background:rgb(17, 17, 17);

}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background:var(--primary-background);
}

button {
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
}

.sidebar {
    position: absolute;
    overflow: hidden;
    width: 60px;
    z-index: 1;
    transition: width 180ms;
    height:100%;
    top:0;
    left:0;
}

.sidebar-menu {
    display: grid;
    /* grid-template-rows: 45px 45px 45px 65px; */
}

.sidebar.open {
    width: 16%;
    background-color:var(--secondary-background);
    height:100%;

}

.sidebar.inner {
    position: 0;
    top: 0;
    left: 0;
    width: 260px;
}

.sidebar-header {
    height: 72px;
    display: flex;
    background: var(--secondary-background);
    opacity: 0.8;
    align-items: center;
    border-radius: 0 0 var(--rounded-corner);
}

.sidebar-burger {
    width: 60px;
    height: 72px;
    display: grid;
    align-items: center;
    color: #f9f9f9f9;
    padding: var(--uniform-padding);
}

.sidebar-logo {
    height: 3rem;
}

.sidebar-menu {
    display:grid;
    padding: 10px;
}

.sidebar-button {
    display: flex;
    gap: 6px;
    align-items: center;
    height: 45px;
    width: 100%;
    border-radius: 7px;
    text-transform: capitalize;
    padding: 0px 7px;
    color: var(--text-color);
    opacity: 0.8;
}

.sidebar-button > span {
    opacity: 0.5;
}

.sidebar-burger:hover {
    color:var(--theme-color-orange);
}

.sidebar-button:hover {
    background: var(--theme-color-orange);
    transition: var(--transition-duration);
    transition:font 800;
    opacity: 1;
}

.sidebar-button:hover > span {
    opacity: 1;
}

.sidebar-logo, .sidebar-button p {
    opacity: 0;
    transition:var(--transition-duration);
}

.sidebar.open
:is(.sidebar-button p, .sidebar-logo){
    opacity: 1;
}

/* Mobile Display */
@media screen and (max-width : 768px) {
    .sidebar { 
        display: none;
    }
    
}

