footer {
    background:#0a1535;
    color: white;
    left: 0;
    bottom: 0;
    right: 0;
    padding-bottom: 20px;
    margin-top: 200px; /*For testing*/    
    margin-inline: auto;
    
    
    
}

.floating-banner {
    background: linear-gradient(90deg, #773ecb, #2663ff);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    max-width: 80%;
    border-radius: 18px;

}

.button {
    display: flex;
    width: auto;
    flex-direction: row-reverse;
    align-items: center;
    gap: 18px;
    padding: 1em 2em ;
    background:rgb(255, 255, 255);
    border-radius: 18px;
    color:black;
    
}

.button h2 {
    font-size: medium;
    
}

section.top ul {

}

.socials a {
    

}



/* .footer-wrapper { 
    background: #f8f9fb;
    text-align: center;
}

* {
    box-sizing: border-box;
}

footer {
    position: absolute;
    /* display:none;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    background: #0a1535;
    color: white;
}

footer article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    padding: 20px 50px 40px;
    margin: -99px 20px 20px;
    border-radius: 10px;
    background: linear-gradient(90deg, #773ecb, #2663ff);

}

footer section {
    padding: 0 50px;
}

section.top {
    padding-top: 30px;
    margin-bottom: 48px;
}

section.top ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    place-content: center;
}

li {
    width: 20%;
    text-align: left;
}

@media (width > 480px) {
    footer article button {
        width: 80%;
    }

    section.top ul {
        padding-right: 10%;
    }
}

@media (width > 600px) {
    footer article {
        min-height:140px;
        padding: 30px 50px 30px;
        width: 90%;

    }

    footer article button {
        width: auto;
        padding: 0px 20px 0px 24px;
    }

    section.top ul {
        grid-template-columns: repeat(4, 1fr);
        padding-right: 0;
    }
}

section.top ul li a {
    display: block;
    margin-top: 10px;
    color: rgb(255, 255, 255 / 90%);
    text-decoration: none;
    font-weight: 300;
}

section.top h3 {
    color: rgb(255, 255, 255 / 40%);
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
}
section.bottom {
    border-top: 2px solid rgb(255, 255, 255 / 10%);
    color: rgb(255, 255, 255 / 40%);
    font-size: 13px;
    text-align: center;
    
}

hr {
    margin: 50px 0 0 0;
    
}

@media screen and (max-width: 300px){
    
} */