@import url('../../App.css');

footer {
    background:#0a1535;
    color:var(--text-color);
    padding-bottom: var(--uniform-padding);
    margin-top: 200px; /*For testing*/   
    display: flex; 
    align-items: center;
    flex-direction: column;
    
}

.floating-banner {
    background: linear-gradient(90deg, #773ecb, #2663ff);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 3rem;
    width: 80%;
    border-radius: var(--border-radius);
    margin: -50px 20px 20px;

}

.button {
    display: flex;
    width: auto;
    flex-direction: row-reverse;
    align-items: center;
    gap: 18px;
    padding:1rem ;
    background:rgb(255, 255, 255);
    border-radius: var(--border-radius);
    color:black;
    
}

.button:hover {
    scale: 1.13;
    transition: scale var(--transition-duration);
}

.slogan {
    font-family:var(--font-family);
    font-weight: 800;
    font-size: 3rem;
    letter-spacing: -3px;        
}

section.top {
    padding-top: 30px;
    margin-bottom: 48px;
}


section.top ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: top;
    margin: 0 auto;
    border: 2px solid  #fff;
    gap: 30px;
    
}

.socials a {
        

}

li {
    width: 40%;
    display: flex;
    flex-direction: column;


}

/*
* 
footer section {
    padding: 0 50px;
}

section.top {
    padding-top: 30px;
    margin-bottom: 48px;
}

li {
    width: 20%;
    text-align: left;
}

@media (width > 480px) {
    footer article button {
        width: 80%;
    }

    section.top ul {
        padding-right: 10%;
    }
}

@media (width > 600px) {
    footer article {
        min-height:140px;
        padding: 30px 50px 30px;
        width: 90%;

    }

    footer article button {
        width: auto;
        padding: 0px 20px 0px 24px;
    }

    section.top ul {
        grid-template-columns: repeat(4, 1fr);
        padding-right: 0;
    }
}

section.top ul li a {
    display: block;
    margin-top: 10px;
    color: rgb(255, 255, 255 / 90%);
    text-decoration: none;
    font-weight: 300;
}

section.top h3 {
    color: rgb(255, 255, 255 / 40%);
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
}
section.bottom {
    border-top: 2px solid rgb(255, 255, 255 / 10%);
    color: rgb(255, 255, 255 / 40%);
    font-size: 13px;
    text-align: center;
    
}

hr {
    margin: 50px 0 0 0;
    
}

@media screen and (max-width: 300px){
    
} */