/* All root element variables for the app including colors, spacing and margins */
:root {
  --primary-background:#fff;
  --border-radius:15px;
  --secondary-background: rgb(30, 42, 42);
  --text-color:white;
  --transition-duration:200ms;
  --uniform-padding:18px;
  --theme-color-orange: rgb(255, 123, 0);
  --hover-background:rgb(17, 17, 17);
  --font-family: 'Roboto';
  --line-height:1.5;
  --font-size: 1.123rem;

}

::-webkit-scrollbar {
  width: 0.4em;
}

::-webkit-scrollbar-thumb {
  background-color: orange;
}

::-webkit-scrollbar-track {
  background-color: rgb(210, 210, 210);
}

* {
  margin: 0;
  box-sizing: 0;
}
