:root {
  --primary-background:#fff;
  --border-radius:15px;
  --secondary-background: rgb(30, 42, 42);
  --text-color:white;
  --transition-duration:200ms;
  --uniform-padding:18px;
  --theme-color-orange: rgb(255, 123, 0);
  --hover-background:rgb(17, 17, 17);
  --font-family: 'Roboto';
  --line-height:1.5;
  --font-size: 1.123rem;

}

* {
  font-family: var(--font-family);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.grid-item-1 {grid-area: header }
.grid-item-2 {grid-area: sidebar }
.grid-item-3 {grid-area: hero }
.grid-item-4 {grid-area: testimonials }
.grid-item-5 {grid-area: footer }

.grid-container {
  display: grid;
  grid-template-areas: 
  'header header header header header header'
  'sidebar hero hero hero hero testimonials'
  'footer footer footer footer footer footer'  
  ;
  /* gap: 10px;
  padding: 2px; */

}

.grid-container > div {
  background: cyan;

}
