/* Page Wrapper properties */
.details-wrapper {
    height: 100vh;
    text-align: center;
    margin: 2rem;

}

/* Details and Images Container */
.details-img-wrapper {
    display: flex;
    flex-direction: row;
    border: 2px solid red;

}

/* Header Title properties */
h1 {
    font-weight: 200;
    margin: 0.5em 0;
}

/* Image Container properties */
.product-image-container {
    display: flex;
    gap: 0.5em;
    align-items: left;
    flex-direction: column;
    margin-top: 2em;
}

/* Main Image Container */
.img-main-container {
    width: max-content;
}

/* Main Image properties */
.img-main-container>img {
    border-radius: 0.7rem;
    display: flex;
    justify-content: left;
}

/* Preview Images Container Properties */
.img-preview-container {
    display: flex;
    gap: 0.3em;
}

/* Preview Images properties */
.img-preview-container>img {
    width: 9.8vw;
    border-radius: 0.4em;

}

/* Product Description */
.product-details {
    margin: 3em 1em ;
    width: 40vw;
    text-align: left;
}

/* Description Paragraph */
.desc-paragraph {
    font-weight: 400;
    margin-top: 0.5em;
    line-height: 1em;
    font-size: smaller;

}







