@import url("../../App.css");

* {
    box-sizing: border-box;
} 

.nav-container ul {
    display: flex;
    gap: 2px;
    border: 2px solid red;
    position: sticky;

}

li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;

}

a span:nth-child(1) {
    font-size: 30px;
}

a span:nth-child(2) {
    /* opacity: 0; */
}

@media screen and (min-width:480px) {
    .nav-container {
        display: none;
    }
    
}